body {
    background-color: #e7e6e6 !important;
}

.first-view {
    width: 100%;
    height: 100vh;
    background: #fff url(baby.jpg) left center / cover no-repeat;
    overflow: hidden;
}

h1.d-sm-none, h1.d-sm-block {
    font-weight: 100;
    text-shadow: 0 0 2px #fff;
}

h1.my-5 {
    font-weight: 100;
}