<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>赤ちゃんモニター</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <meta property="og:title" content="赤ちゃんモニター">
    <meta property="og:site_name"  content="赤ちゃんモニター">
    <meta property="og:description" content="赤ちゃんの様子を見守るアプリです。赤ちゃんが寝ている間に、別室で家事をするときなどに便利です。もちろん、ペットの見守り、留守宅の監視など、他の用途にも利用できます。スマホやパソコンを2台以上用意し、1台をカメラとして、残りはモニターとして使います。">
    {% if site.google-analytics-tracking-id and site.google-analytics-tracking-id != 'YOUR_TRACKING_ID' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics-tracking-id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google-analytics-tracking-id }}');
    </script>
    {% endif %}
</head>
<body>
<div class="first-view">
    <div class="container" id="alerts">
        <div class="alert alert-danger mt-1 d-none" id="alert-android" role="alert">
            ChromeまたはFirefoxで開いてください。
        </div>
        <div class="alert alert-danger mt-1 d-none" id="alert-ios" role="alert">
            Safariで開いてください。
        </div>
        <div class="alert alert-danger mt-1 d-none" id="alert-pc" role="alert">
            Safari、ChromeまたはFirefoxで開いてください。
        </div>
    </div>
    <div class="container">
        <h1 class="h2 text-center mt-5 text-dark d-sm-none">赤ちゃんモニター</h1>
        <h1 class="text-center mt-5 text-dark d-none d-sm-block">赤ちゃんモニター</h1>
    </div>
    <div class="container" id="forms">
        <div class="form-inline justify-content-center">
            <label for="word" class="col-form-label mr-2">合言葉</label>
            <div>
                <input type="text" id="word" class="form-control mr-md-2" placeholder="を入力して、">
            </div>
            <button class="btn btnGoBaby btn-secondary mr-2 mt-3 mt-md-0 d-none d-md-block" disabled>
                <span class="oi oi-video" title="video" aria-hidden="true"></span>
                カメラとして使う
            </button>
            <button class="btn btnGoParent btn-secondary mt-3 mt-md-0 d-none d-md-block" disabled>
                <span class="oi oi-monitor" title="monitor" aria-hidden="true"></span>
                モニターとして使う
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-sm-6 d-md-none">
                <button class="btn btnGoBaby btn-secondary btn-block mr-2 mt-3 mt-md-0" disabled>
                    <span class="oi oi-video" title="video" aria-hidden="true"></span>
                    カメラとして使う
                </button>
                <button class="btn btnGoParent btn-secondary btn-block mt-3 mt-md-0" disabled>
                    <span class="oi oi-monitor" title="monitor" aria-hidden="true"></span>
                    モニターとして使う
                </button>
            </div>
        </div>
        <p class="text-center text-muted mt-2 mb-1 mt-sm-3 mt-md-4">
            <span class="oi oi-chevron-bottom"></span>
            <small class="d-none d-sm-inline"><br>詳しく知りたい</small>
        </p>
    </div>
</div>
<div class="container pt-5">
    {{ content }}
    <p class="text-center text-muted my-5">
        <small>Powered by <a href="https://webrtc.ecl.ntt.com/" target="_blank">SkyWay</a>. Photo by <a href="https://www.flickr.com/photos/rifqidahlgren/16373547459/" target="_blank">Peter Dahlgren</a>.</small>
    </p>
</div>
<script src="js/index.js"></script>
</body>
</html>
